<h1 mat-dialog-title>Delete tile</h1>

<div mat-dialog-content>
  <p>Are you sure?</p>
</div>

<div mat-dialog-actions class="modal__actions">
  <button mat-stroked-button [mat-dialog-close]="false">Back</button>
  <button mat-flat-button [mat-dialog-close]="true" color="primary" cdkFocusInitial>Delete</button>
</div>
