<mat-card class="tile-card">
  <!-- main content - chart / table / loading spinner -->
  <div class="tile-card__title">
    <gad-report-select (selectOutput)="onReportTypeChange($event)" [inputValue]="tileReportType" class="tile-card__title__select" style="margin-right: 8px"></gad-report-select>
    <button mat-stroked-button class="tile-card__title__button" (click)="onFullScreenClick()">
      <mat-icon>{{ 'open_in_full' }}</mat-icon>
    </button>
    <button mat-stroked-button class="tile-card__title__button" (click)="destroy()">
      <mat-icon>{{ 'close' }}</mat-icon>
    </button>
  </div>
  <mat-card-content class="tile-card__content">
    <div *ngIf="initialize else loading" class="tile-card__content__body">
      <div *ngIf="!noData else noDataAvailable" (click)="onFullScreenClick()" class="tile-card__content--pointer">
        <div *ngIf="!table">
          <canvas baseChart class="tile-card__content__body__chart"
                  (click)="onChartClick($event)"
                  [height]="224"
                  [datasets]="chartData"
                  [labels]="chartLabels"
                  [chartType]="chartType"
                  [options]="chartOptions">
          </canvas>
        </div>
        <div *ngIf="table">
          <gad-tile-table
            [chartData]="{ datasets: chartData, labels: chartLabels, tooltips: chartTooltips }"
            [reportType]="tileReportType"
            [mode]="'BASIC'"
            [isFirstColumnDate]="tableDateColumn"></gad-tile-table>
        </div>
      </div>
    </div>
  </mat-card-content>

  <!-- footer -->
  <mat-card-footer class="tile-card__footer">
    <div class="tile-card__footer__params">
      <gad-date-range-toggle (selectOutput)="onDateSelect($event)" [inputValue]="tileRange.range"></gad-date-range-toggle>
      <gad-chart-type-select (selectOutput)="onChartTypeChange($event)" [inputValue]="tileChartType" [disabledTypes]="disabledChartTypes"></gad-chart-type-select>
    </div>
  </mat-card-footer>
</mat-card>

<ng-template #loading>
  <div class="tile-card__loading">
    <mat-spinner class="tile-card__loading__spinner"></mat-spinner>
  </div>
</ng-template>

<ng-template #noDataAvailable>
  <div class="tile-card__no-data">
    <span>No Data</span>
  </div>
</ng-template>
