:host {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  background-color: lightgray;
  margin: 8px;

  @media (max-width: 600px) {
    width: 375px;
    margin: 8px 0;
  }

  @media (max-width: 350px) {
    width: 320px;
    margin: 8px 0;
  }

  .tile-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__title {
      display: flex;
      justify-content: space-between;

      &__select {
        width: 300px;
      }

      &__button {
        width: 48px;
        min-width: 48px;
        height: 48px;
        padding: 0;
      }
    }

    &__title > *:not(:last-child) {
      margin-right: 8px;
    }

    &__content {
      height: 224px;

      &--pointer {
        cursor: pointer;
      }

      &__body {
        height: 100%;

        &__chart {
          height: 224px;
        }
      }
    }

    &__footer {
      padding: 0 16px;

      &__params {
        display: flex;
        justify-content: space-between;
        padding-bottom: 16px;
      }
    }

    &__select {
      width: 180px;
    }

    &__loading {
      display: flex;
      height: 100%;

      &__spinner {
        margin: auto;
      }
    }

    &__no-data {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 32px;
      color: darkgray;
    }
  }
}

