<div *ngIf="initialize" class="tile-table__host">
  <table mat-table [dataSource]="dataSource" matSort class="tile-table">
    <ng-container matColumnDef="column1">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ headerLabels.column1 }}</th>
      <td mat-cell *matCellDef="let element">{{ hasDateColumn() ? (element.column1 | date:'d. MMMM y') : element.column1 }}</td>
    </ng-container>
    <ng-container matColumnDef="column2">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ headerLabels.column2 }}</th>
      <td mat-cell *matCellDef="let element">{{ element.column2 | number:formatNumber() }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: stickyHeader()"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" class="tile-table__row"></tr>
  </table>
</div>
