<div class="dashboard-header">
  <h3 class="dashboard-header__title">
    <span class="dashboard-header__label">Account: </span><span>{{ account }}</span>
    <ng-template [ngIf]="isSmallScreen" [ngIfElse]="comma"><br></ng-template>
    <ng-template #comma>
      <span>, </span>
    </ng-template>
    <span class="dashboard-header__label">Property:</span> {{ property }}
  </h3>
</div>
