<div *ngIf="initialize">
  <div class="chart-select__form-field">
    <mat-button-toggle-group name="name" [(ngModel)]="value" (ngModelChange)="onTypeChange($event)">
      <mat-button-toggle *ngFor="let item of selectValues"
                         [value]="item.type"
                         [matTooltip]="item.tooltip">
        <mat-icon>{{ item.icon }}</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>
