<div *ngIf="initialize" class="date-range-toggle">
  <mat-button-toggle-group [(ngModel)]="value" (ngModelChange)="onTypeChange($event)">
    <mat-button-toggle *ngFor="let item of selectValues"
                       class="date-range-toggle__button"
                       [value]="item.range"
                       [matTooltip]="item.tooltip">
      <div class="date-range-toggle__text">{{ item.text }}</div>
    </mat-button-toggle>
    <mat-button-toggle
      *ngIf="fullMode"
      [value]="'custom'"
      (click)="onCustomClick($event)"
      [disabled]="value !== 'custom'"
      class="date-range-toggle__button">
      <div class="date-range-toggle__text">C</div>
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>
