:host {
  display: block;
  background-color: lightgray;

  .dashboard {
    &__wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__tiles {
      display: flex;
      flex-wrap: wrap;

      // two tiles next to each other
      @media (max-width: 830px) {
        justify-content: center;
      }
    }
  }
}
