<gad-dashboard-header [account]="selectedProperty.accountId" [property]="selectedProperty.name"></gad-dashboard-header>

<div class="dashboard__wrap">
  <div gadDashboardWidth class="dashboard__tiles" [sortablejs]="" [sortablejsOptions]="sortableOptions">
    <ng-template gadTileHost></ng-template>
  </div>
</div>
