<div [formGroup]="dateRangeForm" class="date-range">
  <!-- date FROM -->
  <mat-form-field class="date-range__from">
    <mat-label>From</mat-label>
    <label>
      <input formControlName="dateFrom" matInput [matDatepicker]="dateFrom" (dateChange)="onDateFromChange()">
    </label>
    <mat-datepicker-toggle matSuffix [for]="dateFrom"></mat-datepicker-toggle>
    <mat-datepicker #dateFrom></mat-datepicker>
  </mat-form-field>
  <!-- date TO -->
  <mat-form-field class="date-range__to">
    <mat-label>To</mat-label>
    <label>
      <input formControlName="dateTo" matInput [matDatepicker]="dateTo" (dateChange)="onDateTochange()">
    </label>
    <mat-datepicker-toggle matSuffix [for]="dateTo"></mat-datepicker-toggle>
    <mat-datepicker #dateTo></mat-datepicker>
  </mat-form-field>
  <button mat-stroked-button (click)="applyDateRange()" [disabled]="disableApplyDate">Apply</button>
</div>

