:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 10px;

  @media (max-width: 998px) {
    padding: 10px;
  }

  .account-selection {
    &__title {
      @media (max-width: 600px) {
        width: 375px;
        text-align: center;
      }

      @media (max-width: 375px) {
        width: 320px;
        text-align: center;
      }
    }

    &__cards {
      display: flex;
      justify-content: center;
      margin-top: 20px;

      // cards-row too wide (over 600px breakpoint)
      @media (max-width: 998px) {
        flex-direction: column;
        margin-top: 0;

        > *:not(:last-child) {
          margin-bottom: 10px;
        }
      }
    }

    &__confirm {
      width: 300px;
      height: 40px;
      display: block;
      margin: 10px auto 0 auto;
    }

    &__no-accounts {
      height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

}
