<h1 class="account-selection__title">Select Google Analytics account and property</h1>

<div class="account-selection__cards" *ngIf="noAccounts else noAccounts">
  <gad-account-selection-card
    [title]="'Select GA account:'"
    [items]="accounts"
    [disabled]="false"
    (selectItem)="onAccountSelect($event)">
  </gad-account-selection-card>
  <gad-account-selection-card
    id="select-property"
    [title]="'Select property:'"
    [items]="properties"
    [disabled]="!selectedAccountId"
    (selectItem)="onPropertySelect($event)">
  </gad-account-selection-card>
</div>
<div>
  <button
    id="select-confirm"
    mat-raised-button
    color="primary"
    class="account-selection__confirm"
    [disabled]="!selectedPropertyId"
    (click)="onConfirm()">
    Continue
  </button>
</div>

<ng-template #noAccounts>
  <div class="account-selection__no-accounts">
    <span>
      You don't have access to any Google Analytics accounts.
    </span>
  </div>
</ng-template>
