<mat-toolbar [color]="'primary'" class="toolbar">
  <span>Google Analytics Dashboard</span>
  <gad-toolbar-content></gad-toolbar-content>
</mat-toolbar>
<ng-template [ngIf]="loading" [ngIfElse]="router">
  <div class="loading">
    <mat-spinner class="loading__spinner"></mat-spinner>
  </div>
</ng-template>
<ng-template #router>
  <router-outlet></router-outlet>
</ng-template>
