:host {
  .toolbar {
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
  }

  .loading {
    display: flex;
    justify-content: center;

    &__spinner {
      margin-top: 100px;
    }
  }
}
