:host {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  @media (max-width: 600px) {
    font-size: 16px;
  }

  button {
    margin-right: 0;
    padding-left: 0;

    mat-icon {
      padding: 0 8px 3px 8px;
    }
  }

  .dashboard-buttons {
    border-right: 2px solid white;
    margin-right: 8px;
  }

}
