<ng-template [ngIf]="!isSmallScreen" [ngIfElse]="hamburger">
  <ng-template [ngIf]="showDashboardButtons()">
    <div class="dashboard-buttons">
      <button mat-button (click)="onAddTile()">
        <mat-icon>add</mat-icon>
        <span>Add Tile</span>
      </button>
      <button mat-button (click)="onClearDashboard()">
        <mat-icon>delete_outline</mat-icon>
        <span>Clear Dashboard</span>
      </button>
      <button mat-button (click)="onAccountSelection()">
        <mat-icon>arrow_back</mat-icon>
        <span>Account Selection</span>
      </button>
    </div>
  </ng-template>
  <button *ngIf="isLoggedIn()" mat-button (click)="signOut()">
    <mat-icon>logout</mat-icon>
    <span>Sign Out</span>
  </button>
</ng-template>

<!--hamburger - for mobile view-->
<ng-template #hamburger>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <ng-template [ngIf]="showDashboardButtons()">
      <button mat-menu-item (click)="onAddTile()">
        <mat-icon>add</mat-icon>
        <span>Add Tile</span>
      </button>
      <button mat-menu-item (click)="onClearDashboard()">
        <mat-icon>delete_outline</mat-icon>
        <span>Clear Dashboard</span>
      </button>
      <button mat-menu-item (click)="onAccountSelection()">
        <mat-icon>arrow_back</mat-icon>
        <span>Account Selection</span>
      </button>
    </ng-template>
    <button *ngIf="isLoggedIn()" mat-menu-item (click)="signOut()">
      <mat-icon>logout</mat-icon>
      <span>Sign Out</span>
    </button>
  </mat-menu>
</ng-template>

