<!-- header -->
<div class="tile-modal__header">
  <gad-report-select (selectOutput)="onReportTypeChange($event)" [inputValue]="tileReportType" class="tile-modal__header__select"></gad-report-select>
  <div>
    <button mat-stroked-button class="tile-modal__header__button" (click)="onSaveImage()" [disabled]="disableDownload()">
      <mat-icon>get_app</mat-icon>
    </button>
    <button mat-stroked-button class="tile-modal__header__button" (click)="onClose()">
      <mat-icon>close_fullscreen</mat-icon>
    </button>
  </div>
</div>
<!-- body -->
<div *ngIf="initialize else loading" class="tile-modal__content" style="height: 100%">
  <div *ngIf="!noData else noDataAvailable" style="height: 100%">
    <!-- Chart / Table -->
    <div *ngIf="!table" style="position: relative; height: 100%">
      <canvas baseChart id="canvas" class="tile-modal__content__chart"
              [height]="chartHeight"
              [datasets]="chartData"
              [labels]="chartLabels"
              [chartType]="chartType"
              [options]="chartOptions">
      </canvas>
    </div>
    <div *ngIf="table" class="tile-modal__table">
      <gad-tile-table
        [chartData]="{ datasets: chartData, labels: chartLabels, tooltips: chartTooltips }"
        [reportType]="tileReportType"
        [mode]="'FULL'"
        [isFirstColumnDate]="tableDateColumn"></gad-tile-table>
    </div>
  </div>
</div>
<!-- footer -->
<div class="tile-modal__footer" [class.tile-modal__footer-mobile]="!touchDevice || !portrait">
  <div class="tile-modal__controls" [class.tile-modal__controls-mobile]="!touchDevice || !portrait">
    <gad-date-range-toggle
      class="tile-modal__control tile-modal__date-range-toggle"
      [class.mobile__date-range-toggle]="touchDevice"
      (selectOutput)="onDateRangeSelect($event)"
      [inputValue]="tileRange.range"
      [fullMode]="true"
    ></gad-date-range-toggle>
    <gad-date-range
      class="tile-modal__control"
      [inputDateRange]="tileRange"
      (dateSelect)="onDateRangeSelect($event)"
    ></gad-date-range>
    <!--chart type select, or type select and save btn (for touch devices)-->
    <div [class.tile-modal__footer-type-save]="touchDevice" [class.tile-modal__control]="!touchDevice">
      <gad-chart-type-select (selectOutput)="onChartTypeChange($event)" [inputValue]="tileChartType" [disabledTypes]="disabledChartTypes"></gad-chart-type-select>
      <ng-template *ngIf="touchDevice then saveBtn"></ng-template>
    </div>
  </div>
  <ng-template *ngIf="!touchDevice then saveBtn"></ng-template>
</div>

<!-- TEMPLATES -->
<ng-template #saveBtn>
  <button mat-flat-button color="primary" class="tile-modal__save-btn" (click)="onSave()" [disabled]="!changes">Save changes</button>
</ng-template>

<ng-template #loading>
  <div class="tile-modal__loading">
    <mat-spinner class="tile-modal__loading__spinner"></mat-spinner>
  </div>
</ng-template>

<ng-template #noDataAvailable>
  <div class="tile-modal__no-data">
    <span>No Data</span>
  </div>
</ng-template>
