:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .tile-modal {
    &__header {
      display: flex;
      justify-content: space-between;

      &__select {
        width: 300px;

        @media (max-width: 600px) {
          width: 230px;
        }
      }

      &__button {
        width: 48px;
        min-width: 48px;
        height: 48px;
        margin-left: 8px;
        padding: 0;
      }
    }


    &__content {
      //height: 100%;
      //max-height: 430px;
      //width: 1000px;
      //overflow-x: scroll;
      margin-bottom: 8px;
      flex-grow: 1;
      overflow: auto;

      &__chart {
        //height: 500px;
      }
    }

    &__table {
      //height: 500px;
      max-height: 430px;
      overflow: auto;
      //margin: 0 200px;

      @media (min-width: 800px) {
        margin: 0 auto;
        width: 700px;
      }
    }

    //.mobile__footer {
    //  display: flex; //
    //  justify-content: space-between;
    //  align-items: baseline;
    //}

    &__footer {
      &-mobile {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
      }

      .tile-modal__date-range-toggle {
        @media (max-width: 1220px) {
          margin-bottom: 16px;
        }
      }

      .mobile {
        &__date-range-toggle {
          margin-bottom: 16px;
        }
      }
    }

    // mobile only - type chart and save btn in one section
    &__footer-type-save {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }

    //.mobile__controls {
    //  display: flex; //
    //  align-items: baseline;
    //  flex-wrap: wrap;
    //}

    &__controls {
      &-mobile {
        display: flex; //
        align-items: baseline;
        flex-wrap: wrap;
      }

    }



    &__control {
      margin-right: 16px;
    }

    &__save-btn {
      flex-shrink: 0;
    }

    &__loading {
      display: flex;
      height: 100%;

      &__spinner {
        margin: auto;
      }
    }

    &__no-data {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 32px;
      color: darkgray;
    }
  }
}
