<div>
  <mat-form-field [appearance]="'standard'" class="report-select__form-field">
    <mat-label>Report</mat-label>
    <mat-select id="reportTypeSelect" [(ngModel)]="value" (ngModelChange)="onTypeChange($event)">
      <mat-optgroup [label]="'Analytics'">
        <mat-option *ngFor="let item of selectValuesGA" [value]="item.type">
          {{ item.text }}
        </mat-option>
      </mat-optgroup>
      <mat-optgroup [label]="'Tag Manager'">
        <mat-option *ngFor="let item of selectValuesGTM" [value]="item.type">
          {{ item.text }}
        </mat-option>
      </mat-optgroup>
    </mat-select>
  </mat-form-field>
</div>
