<h1>Welcome to Google Analytics Dashboard</h1>
<div>
  <p>You will need Google account, with access to any Google Analytics account with collected data.</p>
</div>
<button mat-raised-button color="primary" *ngIf="isLoggedIn()" (click)="routeToDashboard()">Dashboard</button>
<button mat-raised-button color="primary" *ngIf="!isLoggedIn()" (click)="signIn()" style="width: 250px">Sign in with Google account</button>
