@import "variables";

// [docs] http://google.github.io/material-design-icons/
// fix display block https://github.com/angular/components/issues/12171#issuecomment-713417550
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url("assets/fonts/MaterialIcons-Regular.ttf") format('truetype');
}

$icon-font: 'Material Icons'; // (lint workaround)
.material-icons {
  font-family: $icon-font;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

// override mat-list
.mat-list-base .mat-list-option {

  &.list-option {
    height: 100%;
  }

  .mat-list-text {
    margin: 4px 0;
  }

  .mat-list-item-content{
    padding: 4px 0;
  }

  .mat-list-text > .list-option-id {
    font-size: 12px;
  }
}

// mat-table
.mat-header-cell {
  font-size: 14px;
  color: black;
}

.tile-table tr.mat-header-row {
  height: 36px;
}

// doesnt work for now - due to canvas in tile and mat-card background
.tile-placeholder {
  background-color: brown;
  height: 200px;
  width: 200px;
}

.tile-card {
  .mat-card-content {
    margin-bottom: 0;
  }
}

// set into config when opening tile modal (mobile styles)
.tile-modal-custom {
  .mat-dialog-container {
    padding: 8px;
  }
}

// date range in tile-modal - compensate for necessary padding
.date-range .mat-form-field-wrapper {
  margin-bottom: -1.25em;
}

// report type select (meant for small tile)
.tile-card .mat-form-field-appearance-standard .mat-form-field-flex {
  padding-top: 0.5em;
}

.tile-card .mat-form-field-wrapper {
  margin-bottom: -1.25em;
}

html, body { height: 100%; }
body {
  background-color: lightgray;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  -webkit-tap-highlight-color: transparent;
}
