//colors
$color-white: #FFFFFF;
$color-black: #000000;

// color palette

//border
$border-radius-sm: 4px;
$border-radius-lg: 8px;

$box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);

//font-size
$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-lg1: 16px;
$font-size-lg2: 18px;
$font-size-max: 24px;
