<mat-card class="account-selection-card" [class.account-selection-card--disabled]="disabled">
  <h2 class="account-selection-card__title">{{ title }}</h2>
  <mat-form-field appearance="outline" class="account-selection-card__search">
    <input #search matInput (keyup)="applyFilter($event)" [disabled]="disabled">
    <mat-icon matPrefix>search</mat-icon>
    <mat-label>Search</mat-label>
  </mat-form-field>
  <mat-selection-list
    *ngIf="showItems() else loading"
    class="account-selection-card__selection-list"
    [multiple]="false"
    [(ngModel)]="selectedItemId"
    (ngModelChange)="onItemSelect()">
    <mat-list-option
      class="list-option"
      *ngFor="let item of filteredItems"
      [value]="item.id">
      <span>{{ item.displayName }}</span>
      <span class="list-option-id">id: {{ item.id }}</span>
    </mat-list-option>
    <mat-list-option *ngIf="items?.length === 0" class="list-option" [disabled]="true"><span>No accounts available</span></mat-list-option>
  </mat-selection-list>
</mat-card>

<ng-template #loading>
  <div class="account-selection-card__loading">
    <mat-spinner [diameter]="60"></mat-spinner>
  </div>
</ng-template>
