:host {
  width: 300px;
  min-height: 300px;
  margin: 0 4px;

  .account-selection-card {
    height: 400px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-left: 0;
    padding-right: 0;

    &--disabled {
      filter: opacity(0.5);
    }

    &__title {
      padding: 0 16px;
    }

    &__search {
      margin: 0 16px;
    }

    &__selection-list {
      display: flex;
      flex-direction: column;
      overflow: auto;
      outline: none;
    }

    &__loading {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
